<section class="oddsection">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">임원진 소개</h2>
            </div>

            <div class="col-lg-6 col-sm-6 text-center">
                <%= image_tag "about/section_3/master.jpg", class: "img-responsive img-center"%>
                <h3>전계운
                    <small>대표</small>
                </h3>

            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <%= image_tag "about/section_3/dmaster.jpg", class: "img-responsive img-center"%>
                <h3>김남웅
                    <small>부대표</small>
                </h3>

            </div>

            <div class="col-lg-4 col-sm-6 text-center topmargin">
                <%= image_tag "about/section_3/team1.jpg", class: "img-responsive img-center"%>
                <h3>이응진
                    <small>총무</small>
                </h3>

            </div>
            <div class="col-lg-4 col-sm-6 text-center topmargin">
                <%= image_tag "about/section_3/team2.jpg", class: "img-responsive img-center"%>
                <h3>박창수
                    <small>교육팀장</small>
                </h3>

            </div>
            <div class="col-lg-4 col-sm-6 text-center topmargin">
                <%= image_tag "about/section_3/team3.jpg", class: "img-responsive img-center"%>
                <h3>이기영
                    <small>홍보국장</small>
                </h3>

            </div>
        </div>
    </div>

</section>
